body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.game-container {
    text-align: center;
    color: white;
}

#timer {
    font-size: 1.5em;
    margin: 10px 0;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 180px); /* Ajusta el tamaño de las columnas para que coincida con el ancho de las tarjetas */
    gap: 10px; /* Espacio entre las tarjetas */
    justify-content: center;
    margin-top: 5px;
}

h1{
    font-size: 36px;
    animation: heartbeat 1.5s infinite;
    color: #d4f309;
    margin-top: 50px;
}
p {
    font-size: 36px;
    animation: heartbeat 1.5s infinite;
    color: #ff0000;
}

@keyframes heartbeat {
    0%, 100% {
        font-size: 36px;
        color: #f2ebeb;
    }
    25% {
        font-size: 40px;
        color: #ff6666;
    }
    50% {
        font-size: 44px;
        color: #ff3333;
    }
    75% {
        font-size: 40px;
        color: #dccb12;
    }
}

.card {
    width: 150px;
    height: 180px;
    background: rgb(0, 0, 0) url('images/logo.gif') no-repeat center center;
    background-size: contain;
    border: 2px solid rgb(236, 202, 34);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
    overflow: hidden;
    perspective: 1000px;
    margin: 2px; /* Añade espacio entre las tarjetas */
    padding-top: 5px;
}




.card img {
    width: 98%;
    height: 98%;
    object-fit: cover;
    display: none;
}

.card.flipped img {
    display: block;
}

.card.flipped {
    transform: rotateY(180deg);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    background: linear-gradient(45deg, #333, #666);
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    animation: slideIn 0.5s;
}

.modal-content p {
    color: white;
}

.modal-content img {
    width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 8px;
}

.close-button {
    color: lightgrey;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.buttons-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: darkred;
    color: white;
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background: darkgrey;
    transform: scale(1.05);
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
